.frame-origin {
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
  overflow: hidden;
  z-index: -100;
}

body {
  overflow: hidden;
  margin: 0;
  cursor: none;
}

#overlay {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  pointer-events: none;
  top: 0px;
  background-color: rgba(0, 0, 0, 0);
}

#temp-canvas {
  width: 100vw;
  height: 100vh;
  z-index: 101;
  position: fixed;
  pointer-events: none;
  top: 0px;
  background-color: rgba(0, 0, 0, 0);
}
